*{
    margin:0;
    padding:0;
   
}
html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    height: fit-content;
    background-color: lightgrey;
    position: sticky;
    z-index: 100;
  }
.container img{
    padding-top:20px;
    padding-left:10px;
    width:200px;
    height:40px;
}
a{
    text-decoration:none;
}
.navbar ul a li{
    list-style-type:none;
    font-size:20px;
    font-weight:300px;
    color: #0a0a0a;
    display:inline-block;
    margin:22px 14px;
    padding-right:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    
}
.main{
    width:100vw;
    height:415vh;
}
.pic1{
    height:500px;
}
.sub{
    color:rgba(193, 11, 193, 0.879);
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:10px;
    text-decoration: none;
    text-underline-offset: none;
}
.pic2{
    display:inline-block;
    margin:50px;
}
.boat{
    width:50vw;
    margin-right:29px;
}
.b1{
    width:50vw;
    display:inline-block;
    line-height:30px;
}
#details{
    display:flex;
    flex-direction: row;
}
.bgimg strong{
    font-size:25px;
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    position:relative;
    top:100px;
    z-index:50;

}
.bgimg img{
    width:100vw;
    height:500px;
    position:absolute;
    z-index:30;
    flex-flow: column;
    
}
.about{
    display:inline-block;
    width:100vw;
    background-color:rgba(205, 151, 159, 0.429);
}
.pics{
    display:inline-block;
    text-align:center;
    margin:20px;
}
.award-section{
    display:inline-block;
    width:100vw;
    background-color: darkseagreen;
}
.contact-section{
    display:inline-block;
    width:100vw;
}
.personal{
    width:50vw;
    display:inline-block;
}
.foot{
    width:100vw;
    height:14vh;
    background-color:#139139;
    color:white;
    font-weight:300px;
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position:relative;
    
}
#text{
    padding-top:10px;
    margin-top:20px;
    margin-left:10px;
    margin-right:500px;
    display:inline-block;
}
.foot img{
    width:60px;
    height:20px;
    margin-top:20px;
    display:inline-block;
    justify-content:space-between;
    align-items: flex-end;
}